*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.main{
    width: 100vw;
    min-height: 100vh;
    background: #242a26;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #FFEEAD;

}

.head{
   color: #18122B;
   text-transform: uppercase;
   letter-spacing: 5px;
}

.sub{
    color: #18122B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
    position: relative;

}

.sub input{
    width: 100% ;
    padding: 10px 30px;
    text-align: center;
    font-size: 1.4em;
    
}

.sub button{
    padding: 10px 20px;
    font-size: 1.1em;
    color: white;
    background: #4447c9;
    border: none;
    cursor: pointer;


}

.sub button:hover{
    

    background: #2E3840;
    color: white;
}

.sub p{

    font-size: 1.2em;
    letter-spacing: 2px;
}

.inputbox{
   
   width: 80%;
   height: 30vh;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid black;
   
}


/* .inputsc h3{
   text-align: center;
} */

.inputsc {
    width: 25%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}

.inputsc input{
    
    width: 70%;
    text-align: center;
    padding: 15px;
    font-size: 1.3em;
    background: transparent;
    outline: none;
   
    
}

@media (max-width:400px){
    .inputsc input{
    
        width: 90%;
         
    }

    .inputbox{
   
        width: 90%;
        
        
     }
}
